/* Стили для body */
body {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header-logo {
    float: left;
    vertical-align: middle; /* Выравнивание по вертикали */
}

.log_in {
    margin-top: 5%;
    margin-right: 2%;
    float: right;
    font-size: 20px;
    vertical-align: middle; /* Выравнивание по вертикали */
}

/* Стили для инвертированного изображения */
.invert-image {
    filter: invert(100%); /* 100% инверсии цветов (черные становятся белыми, белые - черными) */
}
/* Стили для заголовка "Who are you?" */
.question {
    font-size: 45px;
    color: white;
    margin-top: 13%;
    text-align: center;
}

/* Стили для сетки с классами "grid-container" и "grid-creator", "grid-collaborator", "grid-viewer" */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Гибкие колонки */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; /* Учтем padding в ширине блока */
}

/* Стили для rectangle гридов без заливки */
.rectangle {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid transparent; /* Тонкий бордер */
    padding: 10px;
    border-radius: 10px;
    transition: border-width 0.2s; /* Анимация изменения ширины бордера */

}

/* Применяем изменение ширины бордера при наведении */
.rectangle:hover {
    border-width: 10px; /* Увеличиваем ширину бордера при наведении */
}

/* Стили для иконки внутри rectangle грида */
.rectangle .icon {
    font-size: 36px;
    color: white;
}

/* Стили для текста внутри прямоугольника грида */
.rectangle .text {
    font-size: 18px;
    color: white;
    margin: 10px 40px;

}

/* Стили для каждого прямоугольника грида */
.blue-border, .green-border, .black-border{
    border-color: white; /* Цвет бордера для первого грида */
}

/* Применяем изменение цвета бордера при наведении */
.blue-border:hover {
    border-color: #aafcd3; /* Цвет бордера при наведении для первого блока */
}

.green-border:hover {
    border-color: #07aba4; /* Цвет бордера при наведении для второго блока */
}

.black-border:hover {
    border-color: #000086; /* Цвет бордера при наведении для третьего блока */
}

/* Медиа-запросы для различных экранов */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Гриды будут один под другим */
        margin-left: 10px;
        margin-right: 10px;
    }

    .header-logo img {
        width: 100%; /* Лого занимает всю доступную ширину при маленьких экранах */
    }

    .question {
        margin-top: 10px; /* Уменьшаем верхний отступ для заголовка */
    }
}
