
body {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}
/*========== NAV ==========*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.nav__logo {
    float: left;
}
.nav__log_in {
    float: right;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 4%;
    padding-right: 3%;
}
.nav__logo img {
    max-width: 300px;
    height: auto;
}
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav__log_in:hover {
    color: #07aba4;
}

/*========== INVIT ==========*/
.invit .section-title {
    margin-top: 10rem;
}
.invit__container {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 5rem;

}
.invit__content {
    position: relative;
    display: grid;
    padding: 0.25rem 0.75rem 0.75rem;
    border: 5px solid transparent;
    border-radius: 10px;
    border-color: white;
    flex: 1;
    max-width: calc(31% - 1rem);
}
.invit__img {
    width: 110px;
    justify-self: center;
    margin-bottom: 0.25rem;
    filter: invert(100%);
}
.invit__title,
.invit__desc {
    text-align: center;
}

#creator:hover{
    border-width: 10px;
    border-color: #aafcd3;
}
#contributor:hover{
    border-width: 10px;
    border-color: #07aba4;
}
#viewer:hover{
    border-width: 10px;
    border-color: #000086;
}

@media screen and (max-width: 768px) {
    .invit__container {
        flex-direction: column;
        align-items: center;
    }

    .invit__content {
        margin-bottom: 2rem;
        max-width: 100%;
    }
    .l-header {
        width: 100%;
        position:absolute;
        top: 0;
        left: 0;
    }
    .nav__log_in {
        padding-top: 15%;
        padding-right: 5%;
    }

}
